{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    退出
{% endblock title %}

{% block content %}
    <div class="row text-center vertical-middle-lg">
        <p>您已经退出 企业信息管理系统</p>
        <p>再次 <a type="button" href="{% url 'user_login' %}" class="btn btn-success btn-sm">登陆</a></p>
    </div>
{% endblock content %}

{% block footer %}
    <div id="footer">
        <span>Welcome to visit 企业信息管理系统 &copy;红河州中小企业窗口服务平台 </span>
        <span> 滇ICP备XXXXXXXXXXXXXXXX</span>
    </div>
{% endblock footer %}