{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    用户信息
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
                <div class="page-header">
                        <h1>用户信息<br><small>{{ user.username }}</small></h1>
                </div>
        </div>
            <div class="col-md-4 col-md-offset-4 animated zoomIn">
                <div class="panel panel-info">
                {% for user_level in user_level %}
                    <div class="panel-heading">用户角色：{{ user_level.level_name }}</div>
                    <div class="panel-body">
                            <p>{{ user_level.level_describe }}</p>
                {% endfor %}
                    </div>
                  
                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">姓名：{{ user.first_name }}</li>
                        <li class="list-group-item">手机：{{ user_profile.user_phone }}</li>
                        <li class="list-group-item">邮箱：{{ user.email }}</li>
                        <li class="list-group-item">登录浏览器：{{ user_profile.user_agent }}</li>
                        <li class="list-group-item">登录IP：{{ user_profile.user_ip }}</li>
                    </ul>
                  </div>
                  
    </div>
</div>


    <div class="row text-center vertical-middle-lg">
        <p>{{ user.username }} 的用户信息</p>
        <p><a type="button" href="{% url 'userinfo_edit' %}" class="btn btn-success btn-sm">修改用户信息</a></p>
    </div>
{% endblock content %}
{% block footer %}
    <div id="footer" class="animated fadeInUp">
        <span>Welcome to visit 企业信息管理系统 &copy;红河州中小企业窗口服务平台 </span>
        <span> 滇ICP备XXXXXXXXXXXXXXXX</span>
    </div>
{% endblock footer %}