{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    编辑用户信息
{% endblock title %}

{% block content %}
    <div class="row text-center vertical-middle-lg">
        <p>编辑 {{ user.username }} 用户信息</p>
        <p><a type="button" href="{% url 'userinfo_edit' %}" class="btn btn-success btn-sm">提交修改</a></p>
    </div>
{% endblock content %}
userinfo_edit
{% block footer %}
    <div id="footer">
        <span>Welcome to visit 企业信息管理系统 &copy;红河州中小企业窗口服务平台 </span>
        <span> 滇ICP备XXXXXXXXXXXXXXXX</span>
    </div>
{% endblock footer %}