{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    工作台 | 修改企业信息
{% endblock title %}

{% block content %}

{% for company_info in company_info %}
<div class="panel panel-default" style="margin:2em">
    <div class="panel-heading">
        <h3>{{ company_info.company_name }}<small>  -- 修改企业信息</small>&nbsp;<span><a href="{% url 'index_workbench' %}" type="button" class="btn btn-info">返回查询页</a>&nbsp;<span><a href="/" type="button" class="btn btn-warning">返回首页</a></span></h3>             
    </div>
    <div class="panel-body">
                <form class="form-horizontal" action="{% url 'company_info_modify' company_info.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group form-group-sm">
            
                            <div class="form-group">
                                    <!-- select input-->
                                    <label class="col-sm-3 control-label focus" for="{{company_info_form.company_area.id_for_label}}">{{company_info_form.company_area.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.company_area }}
                                        <p class="text-danger">{{ company_info_form.company_area.errors.as_text }}</p>
                                    </div>
                            </div>
                            
                            <div class="form-group">
                                    <!-- Text input-->
                                    <label class="col-sm-3 control-label">企业名称</label>
                                    <div class="col-sm-7">
                                        <input name="company_name" type="text" class="form-control" value="{{ company_info.company_name }}" disabled/>
                                    </div>
                            </div>

                            <fieldset disabled>
                                <!-- 企业一级分类，第一个select框 -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="id_company_type">企业一级分类</label>
                                        <div class="col-sm-7">
                                            <select name='company_type' id="id_company_type" class="form-control">
                                                <option>{{ company_info.company_type }}</option>
                                            </select>
                                        </div>
                                </div>
                                    
                                <!-- 企业二级分类，第二个select框 -->
                                <div class="form-group">
                                    <label class="col-sm-3 control-label" for="id_company_second_type">企业二级分类</label>
                                    <div class="col-sm-7">
                                        <select name="company_second_type" id="id_company_second_type" class="form-control">
                                            
                                            <option >{{ company_info.company_second_type}}</option>

                                        </select>
                                    </div>    
                                </div>
                             </fieldset>
            
                            <!-- <div class="form-group" id="ctype">
                                    <label class="col-sm-3 control-label" for="{{company_info_form.company_type.id_for_label}}">{{company_info_form.company_type.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.company_type }}
                                        <p class="text-danger">{{ company_info_form.company_type.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <div class="form-group" id="cstype">
                                    <label class="col-sm-3 control-label" for="{{company_info_form.company_second_type.id_for_label}}">{{company_info_form.company_second_type.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.company_second_type }}
                                        <p class="text-danger">{{ company_info_form.company_second_type.errors.as_text }}</p>
                                    </div>
                            </div> -->
            
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">企业统一信用代码</label>
                                    <div class="col-sm-7">
                                            <input type="text" class="form-control" value="{{ company_info.company_IDcard }}" disabled/>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 公司业务范围-->
                                    <label class="col-sm-3 control-label" for="{{company_info_form.company_business_scope.id_for_label}}">{{company_info_form.company_business_scope.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.company_business_scope }}
                                        <p class="text-danger">{{ company_info_form.company_business_scope.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 公司注册资金-->
                                    <label class="col-sm-3 control-label" for="{{company_info_form.company_registered_capital.id_for_label}}">{{company_info_form.company_registered_capital.label}}（万元）</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.company_registered_capital }}
                                        <p class="text-danger">{{ company_info_form.company_registered_capital.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 法人/负责人姓名-->
                                    <label class="col-sm-3 control-label" for="{{company_info_form.responsible_person.id_for_label}}">{{company_info_form.responsible_person.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.responsible_person }}
                                        <p class="text-danger">{{ company_info_form.responsible_person.errors.as_text }}</p>
                                    </div>
                            </div>

                            <div class="form-group">
                                    <label class="col-sm-3 control-label">法人/负责人电话</label>
                                    <div class="col-sm-7">
                                            <input type="text" class="form-control" value="{{ company_info.responsible_person_phone }}" disabled/>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">性别</label>
                                    <div class="col-sm-7">
                                        {% for radio in company_info_form.responsible_person_sex %}
                                        <label class="radio-inline" for="{{ radio.id_for_label }}">
                                    <span>{{ radio.tag }}</span>{{ radio.choice_label }}
                                </label> {% endfor %}
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 年龄-->
                                    <label class="col-sm-3 control-label" for="{{company_info_form.responsible_person_age.id_for_label}}">{{company_info_form.responsible_person_age.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.responsible_person_age }}
                                        <p class="text-danger">{{ company_info_form.responsible_person_age.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">法人政治面貌</label>
                                    <div class="col-sm-7">
                                        {% for radio in company_info_form.responsible_person_politics_status %}
                                        <label class="radio-inline" for="{{ radio.id_for_label }}">
                                    <span>{{ radio.tag }}</span>{{ radio.choice_label }}
                                </label> {% endfor %}
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">法人文化程度</label>
                                    <div class="col-sm-7">
                                        {% for radio in company_info_form.responsible_person_education %}
                                        <label class="radio-inline" for="{{ radio.id_for_label }}">
                                    <span>{{ radio.tag }}</span>{{ radio.choice_label }}
                                </label> {% endfor %}
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 联系人姓名-->
                                    <label class="col-sm-3 control-label" for="{{company_info_form.contact_name.id_for_label}}">{{company_info_form.contact_name.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.contact_name }}
                                        <p class="text-danger">{{ company_info_form.contact_name.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <label class="col-sm-3 control-label">联系人电话</label>
                                    <div class="col-sm-7">
                                            <input type="text" class="form-control" value="{{ company_info.contact_phone }}" disabled/>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- select input-->
                                    <label class="col-sm-3 control-label">{{company_info_form.contact_email.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.contact_email }}
                                        <p class="text-danger">{{ company_info_form.contact_email.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- select input-->
                                    <label class="col-sm-3 control-label" for="{{company_info_form.company_web.id_for_label}}">{{company_info_form.company_web.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.company_web }}
                                        <p class="text-danger">{{ company_info_form.company_web.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- select input-->
                                    <label class="col-sm-3 control-label" for="{{company_info_form.contact_address.id_for_label}}">{{company_info_form.contact_address.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_info_form.contact_address }}
                                        <p class="text-danger">{{ company_info_form.contact_address.errors.as_text }}</p>
                                    </div>
                            </div>

                            {# 企业附加信息表单 #}
                            <div class="form-group">
                                    <!-- 企业标签-->
                                    <label class="col-sm-3 control-label" for="{{company_overhead_info_form.company_tag.id_for_label}}">{{company_overhead_info_form.company_tag.label}}</label>
                                    <div class="col-sm-7 checkbox">
                                        {{ company_overhead_info_form.company_tag }}
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 从业人员规模-->
                                    <label class="col-sm-3 control-label" for="{{company_overhead_info_form.company_employee.id_for_label}}">{{company_overhead_info_form.company_employee.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_overhead_info_form.company_employee }}
                                        <p class="text-warning"><small><span class="glyphicon glyphicon-warning-sign" aria-hidden="true">&nbsp;注意：从业人员规模只能填写正整数</span></small></p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 大专及以上学历人数-->
                                    <label class="col-sm-3 control-label" for="{{company_overhead_info_form.company_senior_staff.id_for_label}}">{{company_overhead_info_form.company_senior_staff.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_overhead_info_form.company_senior_staff }}
                                        <p class="text-warning"><small><span class="glyphicon glyphicon-warning-sign" aria-hidden="true">&nbsp;注意：从大专及以上学历人数只能填写正整数</span></small></p>
                            </div>
            
                            <div class="form-group">
                                    <!-- 中级及以上职称人数-->
                                    <label class="col-sm-3 control-label" for="{{company_overhead_info_form.company_job_title.id_for_label}}">{{company_overhead_info_form.company_job_title.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_overhead_info_form.company_job_title }}
                                        <p class="text-warning"><small><span class="glyphicon glyphicon-warning-sign" aria-hidden="true">&nbsp;注意：从中级及以上职称人数只能填写正整数</span></small></p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 企业拥有专利个数-->
                                    <label class="col-sm-3 control-label" for="{{company_overhead_info_form.company_patents_number.id_for_label}}">{{company_overhead_info_form.company_patents_number.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_overhead_info_form.company_patents_number }}
                                        <p class="text-warning"><small><span class="glyphicon glyphicon-warning-sign" aria-hidden="true">&nbsp;注意：从企业拥有专利个数只能填写正整数</span></small></p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 主要产品/服务-->
                                    <label class="col-sm-3 control-label" for="{{company_overhead_info_form.company_product.id_for_label}}">{{company_overhead_info_form.company_product.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_overhead_info_form.company_product }}
                                        <p class="text-danger">{{ company_overhead_info_form.company_product.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 企业年产值-->
                                    <label class="col-sm-3 control-label" for="{{company_overhead_info_form.company_annual_income.id_for_label}}">{{company_overhead_info_form.company_annual_income.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_overhead_info_form.company_annual_income }}
                                        <p class="text-warning"><small><span class="glyphicon glyphicon-warning-sign" aria-hidden="true">&nbsp;注意：从企业年产值只能填写正整数</span></small></p>
                                    </div>
                            </div>
            
                            <div class="form-group">
                                    <!-- 备注-->
                                    <label class="col-sm-3 control-label" for="{{company_overhead_info_form.company_remark.id_for_label}}">{{company_overhead_info_form.company_remark.label}}</label>
                                    <div class="col-sm-7">
                                        {{ company_overhead_info_form.company_remark }}
                                        <p class="text-danger">{{ company_overhead_info_form.company_remark.errors.as_text }}</p>
                                    </div>
                            </div>
            
                            <!-- Button -->
                            <hr>
                            <div class="col-sm-12 text-center">
                                <a type="button" class="btn btn-danger" href="">重新填写</a>
                                <input type="submit" class="btn btn-success" value="提交修改" />
                            </div>
                    </div>
                </form>
            
               
                            
    </div>
    </div>
</div>  
{% endfor %}
{% endblock content %}
