{% load staticfiles %}
<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <div class="form-group form-group-sm">

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.company_area.id_for_label}}">{{company_info.company_area.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.company_area }}
                        <p class="text-danger">{{ company_info.company_area.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <!-- Text input-->
                    <label class="col-sm-3 control-label text-info" for="{{company_info.company_name.id_for_label}}">{{company_info.company_name.label}}*</label>
                    <div class="col-sm-7">
                        {{ company_info.company_name }}
                        <p class="text-danger">{{ company_info.company_name.errors.as_text }}</p>
                    </div>
            </div>

            
            <div id="sel" v-cloak>
                <!-- 企业一级分类，第一个select框 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="{{company_info.company_type.id_for_label}}">{{company_info.company_type.label}}</label>
                        <div class="col-sm-7">
                            <select name='company_type' id="ctype" class="form-control" v-model='ctype_sel' @change='getCtypeSel()'>
                                <!-- <option>-请选择-</option> -->
                                <option v-for="ctype in c_type" v-bind:value="ctype.pk">{% verbatim %}{{ ctype.fields.company_type_name }}{% endverbatim %}</option>
                            </select>
                        </div>
                </div>
                  	
                <!-- 企业二级分类，第二个select框 -->
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="{{company_info.company_second_type.id_for_label}}">{{company_info.company_second_type.label}}</label>
                    <div class="col-sm-7">
                        <select name="company_second_type" id="cstype" class="form-control">
                            <option v-for="cstype_f in cs_type" v-bind:value="cstype_f.pk">{% verbatim %}{{cstype_f.fields.company_second_type_name}}{% endverbatim %}</option>
                        </select>
                    </div>    
                </div>
            </div>

            <!-- <div class="form-group" id="ctype">
                    <label class="col-sm-3 control-label" for="{{company_info.company_type.id_for_label}}">{{company_info.company_type.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.company_type }}
                        <p class="text-danger">{{ company_info.company_type.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group" id="cstype">
                    <label class="col-sm-3 control-label" for="{{company_info.company_second_type.id_for_label}}">{{company_info.company_second_type.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.company_second_type }}
                        <p class="text-danger">{{ company_info.company_second_type.errors.as_text }}</p>
                    </div>
            </div> -->

            <div class="form-group">
                    <label class="col-sm-3 control-label" for="{{company_info.company_IDcard.id_for_label}}">{{company_info.company_IDcard.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.company_IDcard }}
                        <p class="text-danger">{{ company_info.company_IDcard.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.company_business_scope.id_for_label}}">{{company_info.company_business_scope.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.company_business_scope }}
                        <p class="text-danger">{{ company_info.company_business_scope.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.company_registered_capital.id_for_label}}">{{company_info.company_registered_capital.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.company_registered_capital }}
                        <p class="text-danger">{{ company_info.company_registered_capital.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.responsible_person.id_for_label}}">{{company_info.responsible_person.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.responsible_person }}
                        <p class="text-danger">{{ company_info.responsible_person.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <label class="col-sm-3 control-label">性别</label>
                    <div class="col-sm-7">
                        {% for radio in company_info.responsible_person_sex %}
                        <label class="radio-inline" for="{{ radio.id_for_label }}">
                      <span>{{ radio.tag }}</span>{{ radio.choice_label }}
                  </label> {% endfor %}
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.responsible_person_age.id_for_label}}">{{company_info.responsible_person_age.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.responsible_person_age }}
                        <p class="text-danger">{{ company_info.responsible_person_age.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <label class="col-sm-3 control-label">法人政治面貌</label>
                    <div class="col-sm-7">
                        {% for radio in company_info.responsible_person_politics_status %}
                        <label class="radio-inline" for="{{ radio.id_for_label }}">
                      <span>{{ radio.tag }}</span>{{ radio.choice_label }}
                  </label> {% endfor %}
                    </div>
            </div>

            <div class="form-group">
                    <label class="col-sm-3 control-label">法人文化程度</label>
                    <div class="col-sm-7">
                        {% for radio in company_info.responsible_person_education %}
                        <label class="radio-inline" for="{{ radio.id_for_label }}">
                      <span>{{ radio.tag }}</span>{{ radio.choice_label }}
                  </label> {% endfor %}
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.contact_name.id_for_label}}">{{company_info.contact_name.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.contact_name }}
                        <p class="text-danger">{{ company_info.contact_name.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.contact_phone.id_for_label}}">{{company_info.contact_phone.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.contact_phone }}
                        <p class="text-danger">{{ company_info.contact_phone.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.contact_email.id_for_label}}">{{company_info.contact_email.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.contact_email }}
                        <p class="text-danger">{{ company_info.contact_email.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.company_web.id_for_label}}">{{company_info.company_web.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.company_web }}
                        <p class="text-danger">{{ company_info.company_web.errors.as_text }}</p>
                    </div>
            </div>

            <div class="form-group">
                    <!-- select input-->
                    <label class="col-sm-3 control-label" for="{{company_info.contact_address.id_for_label}}">{{company_info.contact_address.label}}</label>
                    <div class="col-sm-7">
                        {{ company_info.contact_address }}
                        <p class="text-danger">{{ company_info.contact_address.errors.as_text }}</p>
                    </div>
            </div>

      </div>
</form>

<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vue.js' %}"></script>

<script type="text/javascript">
    $(function(){
        //alert("进来了！");
        loadfirst();

    });
		
    function loadfirst(){
        $.ajax({
            type:"post",
            url:"{% url 'get_company_type_data' %}",
            dataType:"json",
            success:function(data){
                    //id为0时为父类
                vm.c_type = data;
                }		
            });	
        }

    function loadsecond(id){
        $.ajax({
	    type:"post",
        url:"{% url 'get_company_second_type_data' %}",
        data:{"company_type_id":id},
	    dataType:"json",
	    success:function(data){
                //id为0时为父类
               vm2.cs_type = data;
            }		
        });	
    }
</script>

<script type="text/javascript">
	var vm = new Vue({
        el:'#ctype',
	    data:{
            c_type : [],
        },
        methods:{
            getCtypeSel:function(){
                        var ctype_selected = this.ctype_sel;
                        loadsecond(ctype_selected);
                    }
        },
    });
		
	var vm2 = new Vue({
	    el:'#cstype',
	    data:{
		        cs_type : [],
        },
        methods:{
            details:function loadsecond(id){
                        $.ajax({
                        type:"post",
                        url:"{% url 'get_company_second_type_data' %}",
                        data:{"company_type_id":id},
                        dataType:"json",
                        success:function(data){
                                //id为0时为父类
                            vm2.cs_type = data;
                            }		
                        });	
                    }
        },
	});	
  </script>