{% load staticfiles %}

<div class="panel panel-info">
        <div class="list-group">
{% for notification in notification_list  %}
                <a href="#" class="list-group-item {% if notification.important_level == 1 %}list-group-item-danger{% elif notification.important_level == 2  %}list-group-item-warning{% else %}list-group-item-success{% endif %}"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>{{ notification.notification_title }}</a>
{% empty %}
                <a href="#" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>目前没有系统通知</a>
{% endfor %}
        </div>
</div>

