{% load staticfiles %}

{% for notification in notification_list  %}
    <div class="panel {% if notification.important_level == 1 %}panel-danger{% elif notification.important_level == 2  %}panel-warning{% else %}panel-success{% endif %}">
            <div class="panel-heading">
            <h3 class="panel-title">{{ notification.notification_title }}</h3>
            <span class="text-right">{{ notification.notification_date }}</span>
            </div>
            <div class="panel-body">
                    {{ notification_content | safe}}
            </div>
    </div>
{% empty %}
    <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">系统通知{{ flag }}</h3>
            </div>
            <div class="panel-body">
                   暂时没有通知
            </div>
    </div>
{% endfor %}