{% load staticfiles %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span>企业信息管理系统</span>
            </a>
            {% if user.is_authenticated %}
                <p class="navbar-text">当前用户： <a href="{% url 'userinfo_detail'  user.id %}" class="navbar-link">{{ user.username }}</a></p>
                <p class="navbar-text navbar-right"><a type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal">注销</a></p>
                
                {% if user.is_superuser or user.is_staff%}
                    <p class="navbar-text navbar-right"><a type="button" href="/xadmin/" class="btn btn-warning btn-xs">进入管理后台</a></p>
                {% endif %}
                    
            {% endif %}
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</nav>