{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    首页
{% endblock title %}

{% block content %}
<div class="container">
        <div class="row">
                <div class="col-md-12">
                        <h3 class="home-content animated zoomIn">{% for user in user  %}{{user.username}}{% endfor %} {% for userprofile in userprofile %}{{ userprofile.user_level }}{% endfor %} 欢迎登陆  </h3>
                </div>
                {% for userprofile in userprofile %}
                    <div class="col-md-8 col-md-offset-2">
                        <p></p>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                       <p></p>
                    </div>
                    <div class="col-md-8 col-md-offset-2 animated zoomIn">
                    {% if userprofile.user_level_id == 4 %}
                        <a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'index_query' %}">进入查询页</a>
                        <a type="button"  class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal">注销</a></p>
                    {% else %}
                        <a type="button" class="btn btn-primary btn-lg btn-block" href="{% url 'index_query' %}">进入查询页</a>
                        <a type="button" class="btn btn-success btn-lg btn-block" href="{% url 'index_workbench' %}">进入工作台</a>
                        <a type="button"  class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal">注销</a></p>
                    {% endif %}
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                            <p></p>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <p></p>
                    </div>
                    {% if userprofile.user_level_id == 4 %}
                    {% else %}
                    <div class="col-md-4 col-md-offset-4 animated bounceInUp">
                            {% include "ems_mainsite/notification.html" %}
                    </div>
                    {% endif %}
                {% endfor %}
        </div>
    </div>

{% endblock content %}

{% block footer %}
    <div id="footer" class="animated fadeInUp">
        <span>Welcome to visit 企业信息管理系统 &copy;红河州中小企业窗口服务平台 </span>
        <span> 滇ICP备XXXXXXXXXXXXXXXX</span>
    </div>
{% endblock footer %}